.quick-stats {
    @include respond-to(phone) {
        grid-template-columns: 1fr;
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    @include respond-to(toTablet) {
        grid-template-columns: 1fr;
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    @include respond-to(tablet) {
        grid-template-columns: 1fr;
        flex-basis: 90%;
        margin-bottom: 15px;
    }
    @include respond-to(desktop) {
        flex-basis: 80%;
        margin-bottom: 15px;
    }

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;

    &__item {
        border-bottom: 3px solid #716aca;
        box-shadow: 0px 1px 15px 1px #45414e1a;
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0;

        & > div {
            p {
                font-size: 2rem;
                font-weight: bold;
                padding: 0 1rem;
                color: #333;
            }

            small {
                font-size: 0.8rem;
                padding: 0 1rem;
            }
        }
    }
}